.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.rafflesWrapper{
    background-color: #2d4059;
    height: 100%;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 1.5rem
}

.noRafflesCreated{
    background-color: #2d4059;
    height: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eeeeee
}